*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*.nav{
    padding: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(96, 96, 96, 0.4);
    backdrop-filter: blur(4px);
}

.navbar ul{
    display: flex;
}

.navbar li {
    padding: 0px 30px;
}

.navbar a{
    color: white;
}

*/

#nav {
    display: flex;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(96, 96, 96, 0.5);
    backdrop-filter: blur(4px);
}

#nav a {
    color: aliceblue;
    text-decoration: none;
    padding:30px;
    display: inline-block;
}

#nav a:hover{
    text-decoration: underline;
}





